*{
    /*background-color: rgb(216, 236, 216);*/
    font-family: 'Risque', cursive;
  }
body{
  background: url(../images/6d738598401e772538cad8d8681f1a9d.jpg)no-repeat center fixed;
  background-size: cover;

}
#firstlink:link{
  background-color: rgb(172, 146, 143);
  color:rgb(31, 16, 58);
  margin-right: 400px;

}
a{
    text-decoration: none; 
    color: rgb(31, 16, 58);
    font-size: larger;
    padding:15px;
    margin: 20px;
    background-color: rgb(81, 117, 128);
}
nav ul li{
  text-decoration: none;
  display: inline-block;
  margin-left: 200px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(31, 16, 58);
  padding: 5px;

}
/*img{
  display: inline-block;
}*/

header{
    background-color: rgb(81, 117, 128);
    color: rgb(31, 16, 58);
    font-size: 35px;
    text-align: center;
   

}
footer{
    
    color: rgb(31, 16, 58);
    text-align: center;
    padding: 20px;
    background-color: rgb(81, 117, 128);

}
/*the footer part*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color:gray;
    background: rgb(31, 16, 58);

  }
 
  .fa-instagram {
    background: rgb(31, 16, 58);
    color: gray;
  }
  
  
  .fa-snapchat-ghost {
    background: rgb(31, 16, 58);
    color: gray;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

/*the animation part*/
.slideshow{
    margin:0 auto;
    padding-top:50px;
    height: 700px;
    box-sizing:border-box;
}
.content{
    margin: auto;
    width:190px;
    perspective:1000px;
    position: relative;
    padding-top: 80px;
}
.content-carrousel{

    width: 100%;
    position: absolute;
    float: right;
    animation:rotar 15s infinite linear;
    transform-style: preserve-3d;
}
.content-carrousel:hover{
    animation-play-state:paused;
    cursor:pointer;
}
.content-carrousel figure{
    width:100%;
    height: 120px;
    border:1px solid #4d444d;
    overflow: hidden;
    position: absolute;
}
.content-carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
    .content-carrousel figure:nth-child(2){
    transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3){
    transform: rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4){
    transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5){
    transform: rotateY(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6){
    transform: rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7){
    transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8){
    transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9){
    transform: rotateY(320deg) translateZ(300px);
}
.shadow{
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius :2px;
}
.content-carrousel img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height:100%;
}
.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
@keyframes rotar{
    from {
        transform:rotateY(0deg);
    } to {
        transform:rotateY(360deg);
    }
}





 

